<!doctype html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
        <title>Prince Pinnu - My Personal CV/Resume website </title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Prince Pinnu My Personal cv/resume website." />
        <meta name="keywords" content="creative, cv, designer,  online cv, online resume, powerful portfolio, professional, professional resume, responsive, resume, vcard " />
        <meta name="developer" content="Prince Pinnu">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Google Font-->
        <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="../assets/icons/font-awesome-4.7.0/css/font-awesome.min.css">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="../assets/plugins/css/bootstrap.min.css">
        <!-- Animate CSS-->
        <link rel="stylesheet" href="../assets/plugins/css/animate.css">
        <!-- Owl Carousel CSS-->
        <link rel="stylesheet" href="../assets/plugins/css/owl.css">
        <!-- Fancybox-->
        <link rel="stylesheet" href="../assets/plugins/css/jquery.fancybox.min.css">
        <!-- Custom CSS-->
        <link rel="stylesheet" href="../assets/css/styles.css">
        <link rel="stylesheet" type="text/css" href="../css/profile.css">
        <link rel="stylesheet" href="../assets/css/responsive.css">
        <link rel="shortcut icon" href="../assets/images/boy.ico">
        <!-- Colors -->
        <link rel="alternate stylesheet" href="../assets/css/colors/blue.css" title="blue">
        <link rel="stylesheet" href="../assets/css/colors/defauld.css" title="defauld">
        <link rel="alternate stylesheet" href="../assets/css/colors/green.css" title="green">
        <link rel="alternate stylesheet" href="../assets/css/colors/blue-munsell.css" title="blue-munsell">
        <link rel="alternate stylesheet" href="../assets/css/colors/orange.css" title="orange">
        <link rel="alternate stylesheet" href="../assets/css/colors/purple.css" title="purple">
        <link rel="alternate stylesheet" href="../assets/css/colors/slate.css" title="slate">
        <link rel="alternate stylesheet" href="../assets/css/colors/yellow.css" title="yellow">
        <link href="../emoji-css.afeld.me/emoji.css" rel="stylesheet">
        <style type="text/css">
            @import url("https://fonts.googleapis.com/css?family=Pacifico");
            .em-hand {
  font-size: 20px;
  text-align: center;
  margin: 0.5em 0.5em 1em;
  -moz-animation: wave 0.3s alternate infinite;
  -webkit-animation: wave 0.3s alternate infinite;
  animation: wave 0.3s alternate infinite;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
@-moz-keyframes wave {
  0% {
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
  }
}
@-webkit-keyframes wave {
  0% {
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
  }
}
@keyframes wave {
  0% {
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
  }
}
.nav-up {
  margin-top: -100px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #efeeee;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav.switched {
  background-color: #1A1A1D;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #2c2828;
  display: block;
  transition: 0.3s;
}
.sidenav.switched a {
  color: #66FCF1;
}

.sidenav a:hover {
  color: blue;
}
.sidenav.switched a:hover {
  color: white;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 36px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.menu{
    display: none;
}
@media screen and (max-width: 1000px){
 .menu{
    display: block;
 }
 .menu.switched{
    color: #66FCF1;
 }
}
.nav-link.light{
    display: none;
}
.light{
    display: none;
}
.light.switched{
    display: block;
}
.dark{
    margin-top: 10px;
}
.dark.switched{
    display: none;
}
.mh-home.switched{
    background-color: #1F2833;
}
.mh-about.switched{
    background-color: #1F2833;
}
.mh-service.switched{
    background-color: #1F2833;
}
.mh-skills.switched{
    background-color: #1F2833;
}
.mh-experince.switched{
    background-color: #1F2833;
}
.mh-pricing.switched{
    background-color: #1F2833;
}
.mh-footer.switched{
    background-color: #1F2833;
}

.mh-home .hero-img img{
    height: 360px;
    width: 380px;
}

        </style>
    </head>
    <body class="white-vertion black-bg hero-anime">
        <!-- Start Loader -->
        <!-- <div class="section-loader">
            <div class="loader">
                <div></div>
                <div></div> 
            </div>
        </div> -->
        <!-- End Loader -->
        
        <!--
        ===================
           NAVIGATION
        ===================
        -->
        <header class="black-bg mh-header mh-fixed-nav nav-scroll mh-xs-mobile-nav wow fadeInUp nav-down" id="mh-header">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <nav class="navbar navbar-expand-lg mh-nav nav-btn">
                        <a class="navbar-brand" href="#">
                            <img src="assets/images/boy.png" height="40px" width="40px" alt="" class="img-fluid">
                            
                        </a>
                        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon icon"></span>
                        </button> -->
                        <span class="menu" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; &nbsp;</span>
                        <div id="mySidenav" class="sidenav">
                          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                          <a onclick="closeNav()" class="nav-link" href="#mh-home">Home</a>
                          <a onclick="closeNav()" class="nav-link" href="#mh-about">About</a>
                          <a onclick="closeNav()" class="nav-link" href="#mh-skills">Skills</a>
                          <a onclick="closeNav()" class="nav-link" href="#education">Education</a>
                          <a onclick="closeNav()" class="nav-link" href="#certifications">Certification</a>
                          <a onclick="closeNav()" class="nav-link" href="#achievements">Achievements</a>
                          <a onclick="closeNav()" class="nav-link" href="#projects">Projects</a>
                          <a onclick="closeNav()" class="nav-link" href="#mh-contact">Contact</a>
                          <a onclick="closeNav()" class="nav-link dark">Dark theme</a>
                          <a onclick="closeNav()" class="nav-link light">Light theme</a>
                        </div>
                    
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-0 ml-auto">
                                <!-- <li class="nav-item active">
                                    <a class="" href="#mh-home">Home</a>
                                </li> -->
                                <li class="nav-item">
                                    <a class="" href="#mh-about">About</a>
                                </li>
                                <li class="nav-item">
                                   <a class="" href="#mh-skills">Skills</a>
                                </li>  
                                <li class="nav-item">
                                    <a class="" href="#education">Education</a>
                                </li>                              
                                <!-- <li class="nav-item">
                                   <a class="" href="#mh-experience">Experiences</a>
                                </li>                                 -->
                                <li class="nav-item">
                                    <a class="" href="#certifications">Certification</a>
                                </li>
                                <li class="nav-item">
                                    <a class="" href="#achievements">Achievements</a>
                                </li>
                                <li class="nav-item">
                                    <a class="" href="#projects">Projects</a>
                                </li>
                                <li class="nav-item">
                                   <a class="" href="#mh-contact">Contact</a>
                                </li>
                                <li class="nav-item">
                                   <a class="dark">Dark theme</a>
                                </li>
                                <li class="nav-item">
                                   <a class="light">Light theme</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <script>
            function openNav() {
              document.getElementById("mySidenav").style.width = "250px";
            }

            function closeNav() {
              document.getElementById("mySidenav").style.width = "0";
            }
         </script>
        <!--
        ===================
            HOME 
        ===================
        -->
        <section class="mh-home" id="mh-home">
            <div class="home-ovimg">
                <div class="container">
                    <div class="row xs-column-reverse section-separator vertical-middle-content home-padding">
                        <div class="col-sm-6">
                            <div class="mh-header-info">
                                <div class="mh-promo wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.1s">
                                    <span><i class="em-svg em-hand"></i>&nbsp;Hello I'm</span>
                                </div>
                                
                                <h2 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s"><%= records.uname %></h2>
                                <h4 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s"><%= records.profess %></h4>
                                
                                <ul>
                                    <li class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s"><i class="fa fa-envelope"></i><a href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;tf=1&amp;to=<%= records.mail %>"><%= records.mail %></a></li>
                                    <li class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s"><i class="fa fa-phone"></i><a href="callto:"><%= records.phnum %></a></li>
                                    <li class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.6s"><i class="fa fa-map-marker"></i><address><%= records.addr %></address></li>
                                </ul>
                                
                                <ul class="social-icon wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">
                                    <li><a href="<%= records.fbid %>"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="<%= records.twid %>"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="<%= records.gitid %>"><i class="fa fa-github"></i></a></li>
                                    <li><a href="<%= records.linid %>"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="hero-img wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.6s">
                                <div class="img-border">
                                    <img src="../uploadings/<%= records.imagename %>" height="400px;" width="400px;" alt="<%= records.uname %>"  class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>   
        
        <!--
        ==================
            ABOUT
        =================
        -->
        <section class="mh-about" id="mh-about">
            <div class="container">
                <div class="row section-separator">
                    <div class="col-sm-12 col-md-6">
                        <div class="mh-about-img shadow-2 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">
                            <img src="../assets/images/ab-img1.png" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="mh-about-inner">
                            <h2 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.1s">About Me</h2>
                            <p class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s"><%= records.about %></p>
                            <div class="mh-about-tag wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                                <ul>
                                    <% if(tech.length >0){
                                        tech.forEach(function(row){
                                        %>
                                    <li><span><%= row.sname %></span></li>
                                    <%  }) } %>
                                    <!-- <li><span>css</span></li>
                                    <li><span>Javascript</span></li>
                                    <li><span>Node Js</span></li>
                                    <li><span>Express Js</span></li>
                                    <li><span>C</span></li>
                                    <li><span>C++</span></li> -->
                                </ul>
                            </div>
                            <!-- <a href="#" class="btn btn-fill wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">Downlaod My CV <i class="fa fa-download"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!--
        ===================
           SERVICE
        ===================
        -->
        <!-- <section class="mh-service">
            <div class="container">
                <div class="row section-separator">
                    <div class="col-sm-12 text-center section-title wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
                        <h2>What I do</h2>
                    </div>
                    <div class="col-sm-6">
                        <div class="mh-service-item shadow-1 dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                            <i class="fa fa-bullseye purple-color"></i>
                            <h3>Graphic Designing</h3>
                            <p>
                                I can do Graphic Design for your Marketing & advertising purpose. I have good experience in making user interface, posters. Using Graphic Design you can communicate your ideas that inspire, inform, or captivate consumers.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mh-service-item shadow-1 dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
                            <i class="fa fa-code iron-color"></i>
                            <h3>Web Development</h3>
                            <p>
                                I'm a certified Full Stack Developer. I have good experience in designing and developing creative and awesome websites using animations by fullfilling all user requirements.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="mh-service-item shadow-1 dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">
                            <i class="fa fa-object-ungroup sky-color"></i>
                            <h3>App Development</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                magna aliquam erat volutpat.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>        -->
        
        <!--
        ===================
           SKILLS
        ===================
        -->
        <section class="mh-skills" id="mh-skills">
            <div class="container">
                <div class="row section-separator">
                    <div class="section-title text-center col-sm-12">
                        <!--<h2>Skills</h2>-->
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="mh-skills-inner">
                            <div class="mh-professional-skill wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                                <h3>Technical Skills</h3>
                                <div class="each-skills">

                                    <% if(tech.length >0){
                                        tech.forEach(function(row){
                                        %>

                                    <div class="candidatos">
                                        <div class="parcial">
                                            <div class="info">
                                                <div class="nome"><%= row.sname %></div>
                                                <div class="percentagem-num"><%= row.percent %>%</div>
                                            </div>
                                            <div class="progressBar">
                                                <div class="percentagem" style="width: <%= row.percent %>%;"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <%  }) } %>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="mh-professional-skills wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
                            <h3>Professional Skills</h3> <div class="bg-style">
                        <div class="wrapper">
                            <ul class="mh-professional-progress" >

                                <% if(prof.length >0){
                                    prof.forEach(function(row1){
                                    %>

                                <li>
                                    <div class="counter" data-cp-percentage="<%= row1.fpercent %>" data-cp-color="#C3073F">
                                    </div>
                                    <p><%= row1.fname %></p>
                                </li>

                                <%  }) } %>

                            </ul>
                            </div>
                            <button class="btn-update"></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- <ul class="mh-professional-progress" >
                                <li>
                                    <div class="counter" data-cp-percentage="75" data-cp-color="#00bfeb">
                                    </div>
                                    <h4>SKILLS</h4>
                                </li>
                                <li>

                                    <div class="counter" data-cp-percentage="65" data-cp-color="#EA4C89"></div>
                                    <h4>CONTENT</h4>
                                </li>
                                <li>
                                    <div class="counter" data-cp-percentage="35" data-cp-color="#FF675B"></div>
                                    <h4>WEB SITES</h4>
                                </li> 
                                <li>
                                    <div class="counter" data-cp-percentage="44" data-cp-color="#FF9900"></div>
                                    <h4>EMPLOYEES</h4>
                                </li>
                            </ul> -->
        <!--
        ===================
           EXPERIENCES
        ===================
        -->
        <section class="mh-experince" id="mh-experience">
            <div class="bolor-overlay">
                <div class="container">
                    <div class="row section-separator">
                        <div class="col-sm-12 col-md-6" id="education">
                            <div class="mh-education">
                                 <h3 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">Education</h3>
                                <div class="mh-education-deatils">
                                    <!-- Education Institutes-->

                                    <% if(edu.length >0){
                                        edu.forEach(function(row2){
                                        %>

                                    <div class="mh-education-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                                        <h4><%= row2.qualif %> <a href="#"><%= row2.eschool %></a></h4>
                                        <div class="mh-eduyear"><%= row2.ebatch %></div>
                                        <p><%= row2.edetails %>.</p>
                                    </div>     
                                    
                                    <%  }) } %>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="mh-work">
                                 <h3>Work Experience</h3>
                                <div class="mh-experience-deatils">
                                    <!-- Education Institutes-->

                                    <% if(work.length >0){
                                        work.forEach(function(row){
                                        %>

                                    <div class="mh-work-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">
                                        <h4><%= row.qualif %> <a href="#"><%= row.eschool %></a></h4>
                                        <div class="mh-eduyear"><%= row.ebatch %></div>
                                        <span class="res">Responsibility :</span>
                                        <ul class="work-responsibility">
                                            <li><i class="fa fa-circle"></i><%= row.edetails %></li>
                                        </ul>
                                    </div>   
                                    <%  }) } %>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="mh-experince" id="mh-experience">
            <div class="bolor-overlay">
                <div class="container">
                    <div class="row section-separator">
                        <div class="col-sm-12 col-md-6" id="certifications">
                            <div class="mh-education">
                                 <h3 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">Certifications</h3>
                                <div class="mh-education-deatils">
                                    <!-- Education Institutes-->

                                    <% if(certi.length >0){
                                        certi.forEach(function(row){
                                        %>

                                    <div class="mh-education-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                                        <h4><%= row.qualif %> <a href="#"><%= row.eschool %></a></h4>
                                        <div class="mh-eduyear"><%= row.ebatch %></div>
                                        <p><%= row.edetails %>.</p>
                                    </div> 

                                    <%  }) } %>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6" id="achievements">
                            <div class="mh-work">
                                 <h3>Achievements</h3>
                                <div class="mh-experience-deatils">
                                    <!-- Education Institutes-->

                                    <% if(achiev.length >0){
                                        achiev.forEach(function(row){
                                        %>

                                    <div class="mh-work-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">
                                        <h4><%= row.qualif %> <a href="#"><%= row.eschool %></a></h4>
                                        <div class="mh-eduyear"><%= row.ebatch %></div>
                                        <p><%= row.edetails %>.</p>
                                    </div>
                                    
                                    <%  }) } %>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="mh-experince" id="projects">
            <div class="bolor-overlay">
                <div class="container">
                    <div class="row section-separator">
                        <div class="col-sm-12 col-md-6">
                            <div class="mh-education">
                                 <h3 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">Projects</h3>
                                <div class="mh-education-deatils">
                                    <!-- Education Institutes-->

                                    <% if(project.length >0){
                                        project.forEach(function(row){
                                        %>

                                    <div class="mh-education-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                                        <h4><%= row.qualif %> <a href="#"><%= row.eschool %></a></h4>
                                        <div class="mh-eduyear"><%= row.ebatch %></div>
                                        <p></p><%= row.edetails %>.</p>
                                    </div>

                                    <%  }) } %>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!--
        ===================
           PORTFOLIO
        ===================
        -->
     <!--    <section class="mh-portfolio" id="mh-portfolio">
            <div class="container">
                <div class="row section-separator">
                    <div class="section-title col-sm-12 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.1s">
                        <h3>Recent Portfolio</h3>
                    </div>
                    <div class="part col-sm-12">
                        <div class="portfolio-nav col-sm-12" id="filter-button">
                            <ul>
                                <li data-filter="*" class="current wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.1s"> <span>All Categories</span></li>
                                <li data-filter=".user-interface" class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s"><span>Web Design</span></li>
                                <li data-filter=".branding" class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s"><span>Branding</span></li>
                                <li data-filter=".mockup" class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s"><span>Mockups</span></li>
                                <li data-filter=".ui" class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s"><span>Photography</span></li>
                            </ul>
                        </div>
                        <div class="mh-project-gallery col-sm-12 wow fadeInUp" id="project-gallery" data-wow-duration="0.8s" data-wow-delay="0.5s">
                            <div class="portfolioContainer row">
                                <div class="grid-item col-md-4 col-sm-6 col-xs-12 user-interface">
                                    <figure>
                                        <img src="assets/images/portfolio/g1.jpg" alt="img04">
                                        <figcaption class="fig-caption">
                                            <i class="fa fa-search"></i>
                                            <h5 class="title">Creative Design</h5>
                                            <span class="sub-title">Photograpy</span>
                                            <a data-fancybox data-src="#mh"></a>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="grid-item col-md-4 col-sm-6 col-xs-12 ui mockup">
                                    <figure>
                                        <img src="assets/images/portfolio/g2.png" alt="img04">
                                        <figcaption class="fig-caption">
                                            <i class="fa fa-search"></i>
                                            <h5 class="title">Creative Design</h5>
                                            <span class="sub-title">Photograpy</span>
                                            <a href="assets/images/portfolio/g2.png" data-fancybox data-src="#mh"></a>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="grid-item col-md-4 col-sm-6 col-xs-12 user-interface">
                                    <figure>
                                        <img src="assets/images/portfolio/g3.png" alt="img04">
                                        <figcaption class="fig-caption">
                                            <i class="fa fa-search"></i>
                                            <h5 class="title">Creative Design</h5>
                                            <span class="sub-title">Photograpy</span>
                                            <a href="assets/images/portfolio/g3.png" data-fancybox data-src="#mh"></a>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="grid-item col-md-4 col-sm-6 col-xs-12 branding">
                                    <figure>
                                        <img src="assets/images/portfolio/g5.png" alt="img04">
                                        <figcaption class="fig-caption">
                                            <i class="fa fa-search"></i>
                                            <h5 class="title">Creative Design</h5>
                                            <span class="sub-title">Photograpy</span>
                                            <a href="assets/images/portfolio/g5.png" data-fancybox data-src="#mh"></a>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="grid-item col-md-4 col-sm-6 col-xs-12 user-interface">
                                    <figure>
                                        <img src="assets/images/portfolio/g4.png" alt="img04">
                                        <figcaption class="fig-caption">
                                            <i class="fa fa-search"></i>
                                            <h5 class="title">Creative Design</h5>
                                            <span class="sub-title">Photograpy</span>
                                            <a href="assets/images/portfolio/g4.png" data-fancybox data-src="#mh"></a>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="grid-item col-md-4 col-sm-6 col-xs-12 branding">
                                    <figure>
                                        <img src="assets/images/portfolio/g6.png" alt="img04">
                                        <figcaption class="fig-caption">
                                            <i class="fa fa-search"></i>
                                            <h5 class="title">Creative Design</h5>
                                            <span class="sub-title">Photograpy</span>
                                            <a href="assets/images/portfolio/g6.png" data-fancybox data-src="#mh"></a>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="grid-item col-md-4 col-sm-6 col-xs-12 branding">
                                    <figure>
                                        <img src="assets/images/portfolio/g8.png" alt="img04">
                                        <figcaption class="fig-caption">
                                            <i class="fa fa-search"></i>
                                            <h5 class="title">Creative Design</h5>
                                            <span class="sub-title">Photograpy</span>
                                            <a href="assets/images/portfolio/g8.png" data-fancybox data-src="#mh"></a>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="grid-item col-md-4 col-sm-6 col-xs-12 ui">
                                    <figure>
                                        <img src="assets/images/portfolio/g9.png" alt="img04">
                                        <figcaption class="fig-caption">
                                            <i class="fa fa-search"></i>
                                            <h5 class="title">Creative Design</h5>
                                            <span class="sub-title">Photograpy</span>
                                            <a href="assets/images/portfolio/g9.png" data-fancybox data-src="#mh"></a>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="grid-item col-md-4 col-sm-6 col-xs-12 branding">
                                    <figure>
                                        <img src="assets/images/portfolio/g7.jpg" alt="img04">
                                        <figcaption class="fig-caption">
                                            <i class="fa fa-search"></i>
                                            <h5 class="title">Creative Design</h5>
                                            <span class="sub-title">Photograpy</span>
                                            <a href="assets/images/portfolio/g7.jpg" data-fancybox="gallery"></a>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div> 
                        </div> 
                    </div> 
                </div> 
            </div>
            <div class="mh-portfolio-modal" id="mh">
                <div class="container">
                    <div class="row mh-portfolio-modal-inner">
                        <div class="col-sm-5">
                            <h2>Wrap - A campanion plugin</h2>
                            <p>Wrap is a clean and elegant Multipurpose Landing Page Template. 
                            It will fit perfectly for Startup, Web App or any type of Web Services.
                            It has 4 background styles with 6 homepage styles. 6 pre-defined color scheme. 
                            All variations are organized separately so you can use / customize the template very easily.</p>       
                            
                            <p>It is a clean and elegant Multipurpose Landing Page Template. 
                            It will fit perfectly for Startup, Web App or any type of Web Services.
                            It has 4 background styles with 6 homepage styles. 6 pre-defined color scheme. 
                            All variations are organized separately so you can use / customize the template very easily.</p>      
                            <div class="mh-about-tag">
                                <ul>
                                    <li><span>php</span></li>
                                    <li><span>html</span></li>
                                    <li><span>css</span></li>
                                    <li><span>php</span></li>
                                    <li><span>wordpress</span></li>
                                    <li><span>React</span></li>
                                    <li><span>Javascript</span></li>
                                </ul>
                            </div>
                            <a href="#" class="btn btn-fill">Live Demo</a>
                        </div>
                        <div class="col-sm-7">
                            <div class="mh-portfolio-modal-img">
                                <img src="assets/images/pr-0.jif" alt="" class="img-fluid">
                                <p>All variations are organized separately so you can use / customize the template very easily.</p>    
                                <img src="assets/images/pr-1.jif" alt="" class="img-fluid">
                                <p>All variations are organized separately so you can use / customize the template very easily.</p>     
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        
        <!--
        ===================
           PRICING
        ===================
        -->
        <!-- <section class="mh-pricing" id="mh-pricing">
            <div class="">
                <div class="container">
                    <div class="row section-separator">
                        <div class="col-sm-12 section-title" data-wow-duration="0.8s" data-wow-delay="0.2s">
                            <h3>Hire Me</h3>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="mh-pricing dark-bg shadow-2 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                                <i class="fa fa-calendar"></i>
                                <h4>Part-time work</h4>
                                <p>I am available for Part time</p>
                                <h5>$1500</h5>
                                <ul>
                                    <li>Web Development</li>
                                    <li>Advetising</li>
                                    <li>Game Development</li>
                                    <li>Music Writing</li>
                                </ul>
                                <a href="#" class="btn btn-fill">Hire Me</a>
                            </div>  
                        </div>                    
                        <div class="col-sm-12 col-md-6">
                            <div class="mh-pricing dark-bg shadow-2 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
                                <i class="fa fa-file"></i>
                                <h4>Part-time work</h4>
                                <p>I am available for Part time</p>
                                <h5>$500</h5>
                                <ul>
                                    <li>Graphic Designing</li>
                                    <li>Advetising</li>
                                    <li>Posters</li>
                                    <li>Id Cards</li>
                                </ul>
                                <a href="#" class="btn btn-fill">Hire Me</a>
                            </div>  
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="mh-pricing dark-bg shadow-2 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">
                                <i class="fa fa-hourglass"></i>
                                <h4>Hourley work</h4>
                                <p>I am available for Hourley projets</p>
                                <h5>$50</h5>
                                <ul>
                                    <li>Web Development</li>
                                    <li>Advetising</li>
                                    <li>Game Development</li>
                                    <li>Music Writing</li>
                                </ul>
                                <a href="#" class="btn btn-fill">Hire Me</a>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        
        <!--
        ===================
           BLOG
        ===================
        -->
       <!--  <section class="mh-blog" id="mh-blog">
            <div class="container">
                <div class="row section-separator">
                    <div class="col-sm-12 section-title wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
                        <h3>Featured Posts</h3>
                    </div>
                    <div class="col-sm-12 col-md-4">
                         <div class="mh-blog-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                            <img src="assets/images/b-3.png" alt="" class="img-fluid">
                            <div class="blog-inner">
                                <h2><a href="blog-single.html">A life without the daily traffic jams</a></h2>
                                <div class="mh-blog-post-info">
                                    <ul>
                                        <li><strong>Post On</strong><a href="#">24.11.19</a></li>
                                        <li><strong>By</strong><a href="#">ThemeSpiders</a></li>
                                    </ul>
                                </div>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
                                <a href="blog-single.html">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="mh-blog-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
                            <img src="assets/images/b-2.png" alt="" class="img-fluid">
                            <div class="blog-inner">
                                <h2><a href="blog-single.html">Proportion are what’s really needed</a></h2>
                                <div class="mh-blog-post-info">
                                    <ul>
                                        <li><strong>Post On</strong><a href="#">24.11.19</a></li>
                                        <li><strong>By</strong><a href="#">ThemeSpiders</a></li>
                                    </ul>
                                </div>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
                                <a href="blog-single.html">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="mh-blog-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">
                            <img src="assets/images/b-1.png" alt="" class="img-fluid">
                            <div class="blog-inner">
                                <h2><a href="blog-single.html">Mounts of paper work to remember the way</a></h2>
                                <div class="mh-blog-post-info">
                                    <ul>
                                        <li><strong>Post On</strong><a href="#">24.11.19</a></li>
                                        <li><strong>By</strong><a href="#">ThemeSpiders</a></li>
                                    </ul>
                                </div>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
                                <a href="blog-single.html">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->        
        
        <!--
        ===================
           TESTIMONIALS
        ===================
        -->
        <!-- <section class="mh-testimonial" id="mh-testimonial">
            <div class="home-v-img">
                <div class="container">
                    <div class="row section-separator">
                        <div class="col-sm-12 section-title wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
                            <h3>Client Reviews</h3>
                        </div>
                        <div class="col-sm-12 wow fadeInUp" id="mh-client-review" data-wow-duration="0.8s" data-wow-delay="0.3s">
                            <div class="each-client-item">
                                <div class="mh-client-item dark-bg black-shadow-1">
                                    <img src="assets/images/c-1.png" alt="" class="img-fluid">
                                    <p>Absolute wonderful ! I am completely
                                    blown away.The very best.I was amazed
                                    at the quality</p>
                                    <h4>John Mike</h4>
                                    <span>CEO, Author.Inc</span>
                                </div>
                            </div>
                            <div class="each-client-item">
                                <div class="mh-client-item dark-bg black-shadow-1">
                                    <img src="assets/images/c-1.png" alt="" class="img-fluid">
                                    <p>Absolute wonderful ! I am completely
                                    blown away.The very best.I was amazed
                                    at the quality</p>
                                    <h4>John Mike</h4>
                                    <span>CEO, Author.Inc</span>
                                </div>
                            </div>                    
                            
                            <div class="each-client-item">
                                <div class="mh-client-item dark-bg black-shadow-1">
                                    <img src="assets/images/c-1.png" alt="" class="img-fluid">
                                    <p>Absolute wonderful ! I am completely
                                    blown away.The very best.I was amazed
                                    at the quality</p>
                                    <h4>John Mike</h4>
                                    <span>CEO, Author.Inc</span>
                                </div>
                            </div>
                            <div class="each-client-item">
                                <div class="mh-client-item dark-bg black-shadow-1">
                                    <img src="assets/images/c-1.png" alt="" class="img-fluid">
                                    <p>Absolute wonderful ! I am completely
                                    blown away.The very best.I was amazed
                                    at the quality</p>
                                    <h4>John Mike</h4>
                                    <span>CEO, Author.Inc</span>
                                </div>
                            </div>
                            <div class="each-client-item">
                                <div class="mh-client-item dark-bg black-shadow-1">
                                    <img src="assets/images/c-1.png" alt="" class="img-fluid">
                                    <p>Absolute wonderful ! I am completely
                                    blown away.The very best.I was amazed
                                    at the quality</p>
                                    <h4>John Mike</h4>
                                    <span>CEO, Author.Inc</span>
                                </div>
                            </div>                    
                            
                            <div class="each-client-item">
                                <div class="mh-client-item dark-bg black-shadow-1">
                                    <img src="assets/images/c-1.png" alt="" class="img-fluid">
                                    <p>Absolute wonderful ! I am completely
                                    blown away.The very best.I was amazed
                                    at the quality</p>
                                    <h4>John Mike</h4>
                                    <span>CEO, Author.Inc</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </section> -->
        
        <!--
        ===================
           FOOTER 1
        ===================
        -->
        <footer class="mh-footer" id="mh-contact">
            <div class="map-image image-bg">
                <div class="container">
                    <div class="row section-separator">
                        <div class="col-sm-12 section-title wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
                            <h3>Contact Me</h3>
                        </div>
                        <div class="col-sm-12 mh-footer-address">
                            <div class="row">
                                <div class="col-sm-12 col-md-4">
                                    <div class="mh-address-footer-item dark-bg shadow-1 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                                        <div class="each-icon">
                                            <i class="fa fa-location-arrow"></i>
                                        </div>
                                        <div class="each-info">
                                            <h4>Address</h4>
                                            <address>
                                                <%= records.addr %>
                                            </address>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="mh-address-footer-item dark-bg shadow-1 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
                                        <div class="each-icon">
                                            <i class="fa fa-envelope-o"></i>
                                        </div>
                                        <div class="each-info">
                                            <h4>Email</h4>
                                            <a href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;tf=1&amp;to=<%= records.mail %>"><%= records.mail %></a><br>
                                            <!-- <a href="mailto:yourmail@email.com">yourmail@email.com</a> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="mh-address-footer-item dark-bg shadow-1 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">
                                        <div class="each-icon">
                                            <i class="fa fa-phone"></i>
                                        </div>
                                        <div class="each-info">
                                            <h4>Phone</h4>
                                            <a href="callto:<%= records.phnum %>"><%= records.phnum %></a><br>
                                            <!-- <a href="callto:(880)-8976-987">(880)-8976-987</a> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                            <!-- class="single-form quate-form wow fadeInUp" -->

                            <form id="contactForm" class="single-form quate-form wow fadeInUp" data-toggle="validator" action="/messages" method="POST" role="form">
                                <div id="msgSubmit" class="h3 text-center hidden">Send me a message</div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <input type="text" class="form-control" name="equalif" placeholder="enter first Name">
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <input type="text" class="form-control" name="eschool" placeholder="enter last Name">
                                    </div>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" name="ebatch" placeholder="enter email">
                                    </div>
                                    <div class="col-sm-12" style="display: none;">
                                        <input type="text" class="form-control" name="user_name" value="<%= records.name %>">
                                    </div>
                                    <div class="col-sm-12">
                                        <textarea class="contact-message" name="edetails" rows="6" placeholder="Your Message" required></textarea>
                                    </div>
                                    <!-- Subject Button -->
                                    <div class="btn-form col-sm-12">
                                        <button type="submit" class="btn btn-fill btn-block" id="form-submit">Send Message</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                       <!--  <div class="col-sm-12 col-md-6 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
                            <div class="mh-map">
                                <div id="mh-map" class="shadow-1"></div>
                            </div>
                        </div> -->
                        <div class="col-sm-12 mh-copyright wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="text-left text-xs-center">
                                        <p><a href="https://wizardly-torvalds-519a38.netlify.app">Designed by PrincePinnu 2020</a></p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="social-icon wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">
                                    <li><a href="<%= records.fbid %>"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="<%= records.twid %>"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="<%= records.gitid %>"><i class="fa fa-github"></i></a></li>
                                    <li><a href="<%= records.linid %>"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>     
    
    <!--
    ==============
    * JS Files *
    ==============
    -->
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <!-- jQuery -->
    <!-- script src="assets/plugins/js/jquery.min.js"></script> -->
    <!-- popper -->
    <script src="../assets/plugins/js/popper.min.js"></script>
    <!-- bootstrap -->
    <script src="../assets/plugins/js/bootstrap.min.js"></script>
    <!-- owl carousel -->
    <script src="../assets/plugins/js/owl.carousel.js"></script>
    <!-- validator -->
    <script src="../assets/plugins/js/validator.min.js"></script>
    <!-- wow -->
    <script src="../assets/plugins/js/wow.min.js"></script>
    <script>
              new WOW().init();
              </script>
    <!-- mixin js-->
    <script src="../assets/plugins/js/jquery.mixitup.min.js"></script>
    <!-- circle progress-->
   <!--  <script src="assets/plugins/js/circle-progress.js"></script> -->
    <!-- jquery nav -->
    <script src="../assets/plugins/js/jquery.nav.js"></script>
    <!-- Fancybox js-->
    <script src="../assets/plugins/js/jquery.fancybox.min.js"></script>
    <!-- isotope js-->
    <script src="../assets/plugins/js/isotope.pkgd.js"></script>
    <script src="../assets/plugins/js/packery-mode.pkgd.js"></script>
    <!-- Map api -->
    <!-- <script src="http://maps.googleapis.com/maps/api/js?v=3.exp&amp;key=AIzaSyCRP2E3BhaVKYs7BvNytBNumU0MBmjhhxc"></script> -->
    <!-- Custom Scripts-->
    <script src="../assets/js/map-init.js"></script>
    <script src="../assets/js/custom-scripts.js"></script>
    <script src="../js/profile.js"></script>
   
<!-- <script src="jquery.min.js"></script> -->
<!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script> -->
<script src="../js/jquery-1.12.4.min.js"></script>
<!-- <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'></script> -->
<script>
(function($) { "use strict";

    $(document).ready(function() {
    $('body.hero-anime').removeClass('hero-anime');
  });

  //Switch light/dark
  
  $(".light, .dark").on('click', function () {
    if ($("body").hasClass("dak")) {
      $("body").removeClass("dak");
      $(".mh-fixed-nav, .navbar-nav, .mh-fixed-nav, .mh-home, .sidenav, .menu, .white-vertion, .light, .dark, .mh-about, .mh-about-tag, .btn.btn-fill, .mh-service, .section-title, .mh-skills, .mh-experince, .mh-pricing, .mh-footer, .candidatos, .mh-professional-skills, .mh-work, .res, .section-title, .mh-footer-address").removeClass("switched");
    }
    else {
      $("body").addClass("dak");
      $(".mh-fixed-nav, .navbar-nav, .mh-fixed-nav, .mh-home, .sidenav, .menu, .white-vertion, .light, .dark, .mh-about, .mh-about-tag, .btn.btn-fill, .mh-service, .section-title, .mh-skills, .mh-experince, .mh-pricing, .mh-footer, .candidatos, .mh-professional-skills, .mh-work, .res, .section-title, .mh-footer-address").addClass("switched");
    }
  });  
  
  })(jQuery);

</script>
    
</body>

</html>