<%- include('header') %>

  <form action="/work" method="POST" role="form">
  <div class="Cont">
    <h2 class="name">Work Experience</h2>

    <% if(success !=''){%>
      <div class="alert alert-success">
        <a class="alert-link"><%= success %></a>.
      </div><br>
      <% } %>

    <% if(records.length >0){
      records.forEach(function(row){
      %>

  <div class="alert alert-warning">
    <strong>Qualification: </strong><a class="alert-link"><%= row.qualif %></a><br>
    <strong>Name of Company: </strong><a class="alert-link"><%= row.eschool %></a><br>
    <strong>Years of Experience: </strong> <a class="alert-link"><%= row.ebatch %></a><br>
    <strong>Role in Company: </strong><a class="alert-link"><%= row.edetails %></a>.<br>
    <a href="/work/edit/<%= row._id %>"><strong style="color: blue;">Edit <i class="fa fa-edit"></i></strong></a>
    <a href="/work/delete/<%= row._id %>"><strong style="color: red">Delete <i class="fa fa-trash"></i></strong></a>

  </div>

  <%  }) } %>

  <div class="alert alert-info">
    <input type="text" class="form-control" name="equalif" placeholder="enter Qualification">
  </div>
  <div class="alert alert-info">
    <input type="text" class="form-control" name="eschool" placeholder="enter Name of Company">
  </div>
  <div class="alert alert-info">
    <input type="text" class="form-control" name="ebatch" placeholder="enter Years of Experience">
  </div>
  <div class="alert alert-info">
    <input type="text" class="form-control" name="edetails" placeholder="enter Role in Company">
  </div>
  <div class="alert alert-info" style="display: none;">
    <input type="text" class="form-control" name="user_name" value="<%= user.name %>">
  </div>
  <div class="alert alert-info">
    <input type="submit" >
  </div>
  </div>
  <a style="margin-left: 20px; font-size:20px;" href="/education">previous</a>
  <a style="float:right; margin-right: 20px; font-size:20px;" href="/certifications">next</a>
  </form>

  <hr>

  
</div>
</body>
</html>